@charset "utf-8";
/* CSS Document */

body {
	background: #FFF url(images/iphone_bg.jpg) no-repeat;
	color: #000;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

object#myAlternativeContent {
	margin: 120px 0 0 237px;
}

#container {
	width: 880px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 40px;
}
p {
	margin: 10px 0 10px 0;
	padding:0;
}
h1 {
	font-size: 24px;	
}
h2 {
	font-size: 20px;	
}

#description {
	width: 375px;
	position: absolute;
	top: 100px;
	right: 50px;
}
#description h1 {
	color: #3390de;
	font-size:30px;
	margin-bottom: 20px
}
#description p {
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 20px;
}
#description ul {
	margin-bottom: 25px;
}
#description ul li {
	font-size: 18px;
	list-style-type: disc;
	margin: 10px 0 0 20px;
}
#description .btn {
	font-size: 24px;
	margin-left: 6px;
}